<div class="fifthCardWrapper">
  <div class="fifthCardWrapper__card">
    <div class='fifthCardWrapper__card__leftSide'>
      <div class='fifthCardWrapper__card__leftSide__container'>
        <figure class='fifthCardWrapper__card__leftSide__container__fig'>
          <img class='fifthCardWrapper__card__leftSide__container__fig__img' src='{{kidsImage}}' alt='kids'/>
        </figure>
      </div>
    </div>
    <div class='fifthCardWrapper__card__rightSide'>
      <div class='fifthCardWrapper__card__rightSide__container'>
        <h1 class='fifthCardWrapper__card__rightSide__container__title'>Create profiles for kids.</h1>
        <p class='fifthCardWrapper__card__rightSide__container__message'>Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</p>
      </div>
    </div>
  </div>
</div>
