<div class="authSignUpStep1">
  <div class="authSignUpStep1__wrapper">
    <p class="authSignUpStep1__wrapper__stepNumber">
      Step
      <span class="authSignUpStep1__wrapper__stepNumber--number">1</span> of
      <span class="authSignUpStep1__wrapper__stepNumber--number">3</span>
    </p>
    <h1 class="authSignUpStep1__wrapper__title">
      Create a password to start your membership
    </h1>
    <div class="authSignUpStep1__wrapper__message">
      <p>Just a few more steps and you're done!</p>
      <p>We hate paperwork, too.</p>
    </div>

    <form class="authSignUpStep1__wrapper__form">
      <div class="authSignUpStep1__wrapper__form__input__email">
        <input
          class="authSignUpStep1__wrapper__form__input__email__input input"
          id="email"
          [(ngModel)]="email"
          name="email"
          type="email"
          required
        />
        <label
          for="email"
          class="authSignUpStep1__wrapper__form__input__email__label"
          [ngClass]="{
            'authSignUpStep1__wrapper__form__input__email__label--active':
              email.length >= 1
          }"
          >Email</label
        >
      </div>
      <div class="authSignUpStep1__wrapper__form__input__password">
        <input
          class="authSignUpStep1__wrapper__form__input__password__input input"
          id="password"
          [(ngModel)]="password"
          name='password'
          type="password"
          required
        />
        <label
          class="authSignUpStep1__wrapper__form__input__password__label"
          [ngClass]="{
            'authSignUpStep1__wrapper__form__input__password__label--active':
              password.length >= 1
          }"
          for="password"
          >Add a password</label
        >
      </div>

      <div class="authSignUpStep1__wrapper__form__input__checkbox">
        <input
          class="authSignUpStep1__wrapper__form__input__checkbox__checkbox"
          type="checkbox"
          id="specialOffer"
        />
        <label
          class="authSignUpStep1__wrapper__form__input__checkbox__label"
          for="specialOffer"
          >Yes, please email me Netflix special offers.</label
        >
      </div>
      <button
        (click)='createUser(email, password)'
        class="authSignUpStep1__wrapper__form__submit">Next</button>
    </form>
  </div>
</div>
