@import '../../../../utils/styles/variables';

.authLogin__footer {
  @media(max-width: $mobileBreakpoint) {
    justify-content: flex-start;
    padding-left: 1.5em;
    border-top: .1em solid $quaternaryFontColor;
  }
  color: $tertiaryFontColor;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5em;
  padding-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authLogin__footer__wrapper {
  @media(max-width: $mobileBreakpoint) {
    width: 100%;
  }
  width: 55%;
  margin-bottom: 3em;
}

.authLogin__footer__wrapper__phone {
  font-size: 1em;
  margin-bottom: 2em;
  cursor: pointer;
}

.authLogin__footer__wrapper__nav {
  @media(max-width: $mobileBreakpoint) {
    gap: unset;
    flex-flow: wrap;
    white-space: nowrap;
    width: 75%;
  }
  display: flex;
  gap: 10em;
}

.authLogin__footer__wrapper__nav__ul {
  @media(max-width: $mobileBreakpoint) {
    gap: unset;
    display: flex;
    width: 50%;
  }
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.authLogin__footer__wrapper__nav__ul__li {
  @media (max-width: $mobileBreakpoint) {
    margin-bottom: 1em;
  }
  list-style: none;
  font-size: 0.8em;
  cursor: pointer;
}

.authLogin__footer__wrapper__language {
  margin: 2.5em 0 1em 0;
  width: fit-content;
  background: #000000;
  color: $tertiaryFontColor;
  border: 1px solid $tertiaryFontColor;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .7em;
  cursor: pointer;
}
