<footer class="authLogin__footer">
  <div class="authLogin__footer__wrapper">
    <p class="authLogin__footer__wrapper__phone">
      Questions? Call (+33) 0805-543-064
    </p>
    <nav class="authLogin__footer__wrapper__nav">
      <ul class="authLogin__footer__wrapper__nav__ul">
        <li class="authLogin__footer__wrapper__nav__ul__li">FAQ</li>
        <li class="authLogin__footer__wrapper__nav__ul__li">
          Cookie Preferences
        </li>
      </ul>
      <ul class='authLogin__footer__wrapper__nav__ul'>
        <li class="authLogin__footer__wrapper__nav__ul__li">Help Center</li>
        <li class="authLogin__footer__wrapper__nav__ul__li">
          Corporate Information
        </li>
      </ul>
      <ul class='authLogin__footer__wrapper__nav__ul'>
        <li class="authLogin__footer__wrapper__nav__ul__li">Terms of Use</li>
      </ul>
      <ul class='authLogin__footer__wrapper__nav__ul'>
        <li class="authLogin__footer__wrapper__nav__ul__li">Privacy</li>
      </ul>
    </nav>
    <button
      class="authLogin__footer__wrapper__language"
    >
      <span class="material-symbols-outlined languageIconFooter"> language </span>
      English
      <span class="material-symbols-outlined arrowDropDownIconFooter">arrow_drop_down</span>
    </button>
  </div>
</footer>
