@import '../../../../utils/styles/variables';

.authSignUp__header {
  @media (max-width: $mobileBreakpoint) {
    padding: 1em;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3.5em 1em 2.5em;
  border-bottom: 1px solid $quaternaryFontColor;
}

.authSignUp__header__fig {
  object-fit: cover;
}

.authSignUp__header__fig__logo {
  @media (max-width: $mobileBreakpoint) {
    width: 100px;
  }
  width: 175px;
  cursor: pointer;
}

.authSignUp__header__nav__ul__li {
  list-style: none;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}