<footer class="authSignUp__footer">
  <div class="authSignUp__footer__wrapper">
    <p class="authSignUp__footer__wrapper__message">
      Question? <span>Contact us.</span>
    </p>
    <nav class="authSignUp__footer__wrapper__nav">
      <ul class="authSignUp__footer__wrapper__nav__ul">
        <li class="authSignUp__footer__wrapper__nav__ul__li">FAQ</li>
        <li class="authSignUp__footer__wrapper__nav__ul__li">
          Cookie Preferences
        </li>
      </ul>
      <ul class="authSignUp__footer__wrapper__nav__ul">
        <li class="authSignUp__footer__wrapper__nav__ul__li">Help Center</li>
        <li class="authSignUp__footer__wrapper__nav__ul__li">
          Corporate Information
        </li>
      </ul>
      <ul class="authSignUp__footer__wrapper__nav__ul">
        <li class="authSignUp__footer__wrapper__nav__ul__li">Terms of Use</li>
      </ul>
      <ul class="authSignUp__footer__wrapper__nav__ul">
        <li class="authSignUp__footer__wrapper__nav__ul__li">Privacy</li>
      </ul>
    </nav>
    <button class="authSignUp__footer__wrapper__language">
      <span class="material-symbols-outlined languageIconFooter">
        language
      </span>
      English
      <span class="material-symbols-outlined arrowDropDownIconFooter"
        >arrow_drop_down</span
      >
    </button>
  </div>
</footer>
