// Breakpoints
$mobileBreakpoint: 768px;
$tabletBreakpoint: 950px;
$laptopBreakpoint: 1450px;

// Website colors
$primaryColor: #e50914;
$secondaryColor: #303030;
$tertiaryColor: #404040;

// Fonts colors
$primaryFontColor: #f2f2f2;
$secondaryFontColor: #888888;
$tertiaryFontColor: #737373;
$quaternaryFontColor: #aeaeae;
$quinaryFontColor: #f3f3f3;
$linkFontColor: #0063cf;
$errorFontColor: #d87403;

// Background colors
$primaryBackgroundColor: #333333;
$secondaryBackgroundColor: #000000;
