<div class="authSignUpStep0">
  <figure class="authSignUpStep0__fig">
    <img
      class="authSignUpStep0__fig__img"
      src="{{ image }}"
      alt="Multiples Devices"
    />
  </figure>
  <p class="authSignUpStep0__stepNumber">
    Step <span class="authSignUpStep0__stepNumber--number">1</span> of
    <span class="authSignUpStep0__stepNumber--number">3</span>
  </p>
  <h1 class="authSignUpStep0__title">Finish setting up your account</h1>
  <p class='authSignUpStep0__message'>
    Netflix is personalized for you.<br />Create a password to watch on any
    device at any time.
  </p>
  <button
    (click)='isStepZeroValid()'
    class='authSignUpStep0__submit'>Next</button>
</div>