@import '../../../../utils/styles/variables';

.firstCardWrapper {
  width: 100%;
  height: 76vh;
  background: url('../../../../assets/images/authentication/home/authBackground.jpg')
  no-repeat center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 76vh;
    z-index: 1;
  }
}

.firstCardWrapper__card {
  color: $primaryFontColor;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  z-index: 1;
}

.firstCardWrapper__card__title {
  font-size: 3.9em;
  width: 40%;
  text-align: center;
}

.firstCardWrapper__card__subtitle {
  font-size: 1.5em;
}

.firstCardWrapper__card__message {
  font-size: 1.2em;
  margin-bottom: -.2em;
}

.firstCardWrapper__card__inputWrapper {
  display: flex;
  width: fit-content;
  height: 4em;
  position: relative;
  top: 0;
  left: 0;
}

.firstCardWrapper__card__inputWrapper__label {
  transition: all 100ms ease-out;
  font-size: 1em;
  color: #888888;
  padding-left: 1em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.firstCardWrapper__card__inputWrapper__label--active {
  transition: all 100ms ease-out;
  font-size: 0.7em;
  color: #888888;
  padding-left: 1.5em;
  position: absolute;
  top: 8%;
  transform: translateY(0);
}

  .firstCardWrapper__card__inputWrapper__input {
  width: 27em;
  height: 100%;
  font-size: 1.1em;
  padding: .5em;
  &:focus {
    outline: none;
  }
}

.firstCardWrapper__card__inputWrapper__submit {
  width: 8em;
  height: 100%;
  background: $primaryColor;
  font-size: 1.7em;
  border: none;
  color: $primaryFontColor;
  border-radius: 0 3px 3px 0;
}
