@import '../../../../utils/styles/variables';

.firstCardWrapper {
  @media (max-width: $mobileBreakpoint) {
    height: 55vh;
    background: url('../../../../assets/images/authentication/home/authBackground.jpg')
      no-repeat;
  }
  width: 100%;
  height: 76vh;
  background: url('../../../../assets/images/authentication/home/authBackground.jpg')
    no-repeat center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  &:before {
    @media (max-width: $mobileBreakpoint) {
      height: 55vh;
    }
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 76vh;
    z-index: 1;
  }
}

.firstCardWrapper__card {
  color: $primaryFontColor;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  z-index: 1;
}

.firstCardWrapper__card__title {
  @media (max-width: $laptopBreakpoint) {
    font-size: 3.1em;
  }
  @media (max-width: $mobileBreakpoint) {
    font-size: 1.5em;
    width: 90%;
  }
  font-size: 3.9em;
  text-align: center;
}

.firstCardWrapper__card__subtitle {
  @media (max-width: $mobileBreakpoint) {
    font-size: 1em;
    width: 90%;
  }
  text-align: center;
  font-size: 1.5em;
}

.firstCardWrapper__card__message {
  @media (max-width: $tabletBreakpoint) {
    width: 90%;
    text-align: center;
  }
  @media (max-width: $mobileBreakpoint) {
    width: 100%;
    font-size: 1em;
  }
  font-size: 1.1em;
  margin-bottom: -0.2em;
}

.firstCardWrapper__card__inputWrapper {
  @media (max-width: $tabletBreakpoint) {
    flex-flow: column;
    gap: 2em;
    align-items: center;
    max-width: 100%;
  }
  display: flex;
  height: 4em;
  position: relative;
  top: 0;
  left: 0;
}

.firstCardWrapper__card__inputWrapper__label {
  @media (max-width: $tabletBreakpoint) {
    left: 0;
  }
  @media (max-width: $tabletBreakpoint) {
    left: 5%;
    top: 40%;
  }
  transition: all 100ms ease-out;
  font-size: 1em;
  color: #888888;
  padding-left: 1em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.firstCardWrapper__card__inputWrapper__label--active {
  transition: all 100ms ease-out;
  font-size: 0.7em;
  color: #888888;
  padding-left: 1.5em;
  position: absolute;
  top: 8%;
  transform: translateY(0);
}

.firstCardWrapper__card__inputWrapper__input {
  @media (max-width: $tabletBreakpoint) {
    min-height: 100%;
  }
  @media (max-width: $mobileBreakpoint) {
    min-height: 80%;
    max-width: 90%;
  }
  width: 27em;
  height: 100%;
  font-size: 1.1em;
  padding: 0.5em;
  display: flex;
  &:focus {
    & + .firstCardWrapper__card__inputWrapper__label {
      transition: all 100ms ease-out;
      font-size: 0.7em;
      color: #888888;
      padding-left: 1.5em;
      position: absolute;
      top: 8%;
      transform: translateY(0);
    }
    outline: none;
  }
}

.firstCardWrapper__card__inputWrapper__submit {
  @media (max-width: $tabletBreakpoint) {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 3px;
  }
  width: 8em;
  height: 100%;
  background: $primaryColor;
  font-size: 1.7em;
  border: none;
  color: $primaryFontColor;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
