<div class="secondCardWrapper">
  <div class="secondCardWrapper__card">
    <div class="secondCardWrapper__card__leftPart">
      <h2 class="secondCardWrapper__card__leftPart__title">
        Enjoy on your TV.
      </h2>
      <p class="secondCardWrapper__card__leftPart__message">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players, and more.
      </p>
    </div>
    <div class="secondCardWrapper__card__rightPart">
      <figure class='secondCardWrapper__card__rightPart__fig'>
        <img
          class='secondCardWrapper__card__rightPart__fig__img'
          src="{{TvImage}}" alt='TV' />
        <video
          class='secondCardWrapper__card__rightPart__fig__video'
          autoplay muted loop>
          <source src='{{TvVideo}}' type='video/mp4'>
        </video>
      </figure>

    </div>
  </div>
</div>
