<div class="authSignIn">
  <div class="authSignIn__wrapper">
    <h1 class="authSignIn__wrapper__title">Sign In</h1>
    <form (ngSubmit)='loginSubmit(emailInput, passwordInput)' #loginForm="ngForm" class="authSignIn__wrapper__form">
      <div class="authSignIn__wrapper__form__email">
        <input
          class="authSignIn__wrapper__form__email__input authSignIn--input"
          id="email"
          pattern='^((\w\w+)[.\-]?)+@(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
          [(ngModel)]="emailInput"
          name="email"
          type="email"
          #email="ngModel"
          required
        />
        <label
          for="email"
          class="authSignIn__wrapper__form__email__label"
          [ngClass]="{
            'authSignIn__wrapper__form__email__label--active': emailInput.length > 0
          }"
          >Email or phone number</label
        >
      </div>
      <div class="authSignIn__wrapper__form__password">
        <input
          class="authSignIn__wrapper__form__password__input authSignIn--input"
          id="password"
          pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$'
          [(ngModel)]="passwordInput"
          name="password"
          type="password"
          #password='ngModel'
          required
        />
        <label
          for="password"
          class='authSignIn__wrapper__form__password__label'
          [ngClass]="{
            'authSignIn__wrapper__form__password__label--active':
              passwordInput.length > 0
          }"
        >Password</label
        >
      </div>
      <p
        class="authSignIn__wrapper__form__errorInput"
      >
        {{ errorLogin }}
      </p>
      <div class="authSignIn__wrapper__submit">
        <button type='submit' [disabled]='!loginForm.form.valid' class="authSignIn__wrapper__submit__button">
          Sign In
        </button>
      </div>
    </form>
    <div class="authSignIn__wrapper__remember">
      <div class="authSignIn__wrapper__remember__checkboxWrapper">
        <input
          class="authSignIn__wrapper__remember__checkboxWrapper__checkbox"
          type="checkbox"
          checked
        />
        <label class="authSignIn__wrapper__remember__checkboxWrapper__label"
          >Remember me</label
        >
      </div>
      <div class="authSignIn__wrapper__remember__checkboxWrapper__helpWrapper">
        <p
          class="authSignIn__wrapper__remember__checkboxWrapper__helpWrapper__link"
        >
          Need help?
        </p>
      </div>
    </div>
    <div class="authSignIn__wrapper__newOnNetflix">
      <p class="authSignIn__wrapper__newOnNetflix__message">New to Netflix ?</p>
      <p class="authSignIn__wrapper__newOnNetflix__link">Sign up now.</p>
    </div>
    <div class="authSignIn__wrapper__captcha">
      <p class="authSignIn__wrapper__captcha__message">
        This page is protected by Google reCAPTCHA to ensure you're not a bot.
        <span class="authSignIn__wrapper__captcha__link">Learn more.</span>
      </p>
    </div>
  </div>
</div>
