<div class="thirdCardWrapper">
  <div class="thirdCardWrapper__card">
    <div class="thirdCardWrapper__card__left">
      <figure class="thirdCardWrapper__card__left__fig">
        <img
          class="thirdCardWrapper__card__left__fig__img"
          src="{{ smartphoneImage }}"
          alt="smartphone exemple"
        />
        <div class="thirdCardWrapper__card__left__fig__downloadCard">
          <figure class="thirdCardWrapper__card__left__fig__downloadCard__fig">
            <img
              class="thirdCardWrapper__card__left__fig__downloadCard__fig__img"
              src="{{ showPoster }}"
              alt="show poster"
            />
          </figure>
          <div class='thirdCardWrapper__card__left__fig__downloadCard__text'>
            <p class="thirdCardWrapper__card__left__fig__downloadCard__text__title">
              Stranger Things
            </p>
            <p class="thirdCardWrapper__card__left__fig__downloadCard__text__title__message">
              Downloading...
            </p>
            <p class="thirdCardWrapper__card__left__fig__downloadCard__text__title__animation"></p>
          </div>
        </div>
      </figure>
    </div>
    <div class="thirdCardWrapper__card__right">
      <h2 class="thirdCardWrapper__card__right__title">
        Download your shows to watch offline.
      </h2>
      <p class="thirdCardWrapper__card__right__message">
        Save your favorites easily and always have something to watch.
      </p>
    </div>
  </div>
</div>

