<div class="fourthCardWrapper">
  <div class="fourthCardWrapper__card">
    <div class='fourthCardWrapper__card__leftSide'>
      <div class='fourthCardWrapper__card__leftSide__container'>
        <h2 class='fourthCardWrapper__card__leftSide__container__title'>Watch everywhere.</h2>
        <p class='fourthCardWrapper__card__leftSide__container__message'>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.</p>
      </div>
    </div>
    <div class='fourthCardWrapper__card__rightSide'>
      <div class='fourthCardWrapper__card__rightSide__container'>
        <figure class='fourthCardWrapper__card__rightSide__container__fig'>
          <img
            class='fourthCardWrapper__card__rightSide__container__fig__img'
            src='{{deviceImage}}'
            alt='multiples devices'
          />
          <video
            class='fourthCardWrapper__card__rightSide__container__fig__video'
            autoplay muted loop
          ><source src='{{deviceVideo}}' type='video/mp4'></video>
        </figure>
      </div>
    </div>
  </div>
</div>
