<div *ngIf="userData !== undefined" class="authSignUpStep2">
  <div class="authSignUpStep2__wrapper">
    <p class="authSignUpStep2__wrapper__stepNumber">
      Step
      <span class="authSignUpStep2__wrapper__stepNumber--number">2</span> of
      <span class="authSignUpStep2__wrapper__stepNumber--number">2</span>
    </p>
    <div class="authSignUpStep2__wrapper__headers">
      <h1 class="authSignUpStep2__wrapper__headers__title">Add Profile</h1>
      <p class="authSignUpStep2__wrapper__headers__subtitle">
        Create a profile for the first person watching Netflix on this account.
      </p>
    </div>
    <form
      #updateForm="ngForm"
      *ngFor="let profile of userData.profiles"
      (ngSubmit)='editDefaultUser(profile._id)'
      class="authSignUpStep2__wrapper__headers__form"
    >
      <div class="authSignUpStep2__wrapper__headers__form__card">
        <figure class="authSignUpStep2__wrapper__headers__form__card__fig">
          <img
            class="authSignUpStep2__wrapper__headers__form__card__fig__img"
            src="{{ profile.profilePicture }}"
            alt="profile"
          />
        </figure>
        <input
          class="authSignUpStep2__wrapper__headers__form__card__input"
          type="text"
          placeholder="{{ profile.nickname }}"
          id="nickname"
          [(ngModel)]="inputNickname"
          name="nickname"
          #nickname="ngModel"
        />
        <label for="nickname"></label>
        <div
          class="authSignUpStep2__wrapper__headers__form__card__checkboxWrapper"
        >
          <input
            class="authSignUpStep2__wrapper__headers__form__card__checkboxWrapper__checkbox"
            type="checkbox"
            id="isChild"
            [(ngModel)]="inputIsChild"
            name="isChild"
            #isChild="ngModel"
          />
          <label
            class="authSignUpStep2__wrapper__headers__form__card__checkboxWrapper__label"
            >Child?</label
          >
        </div>
      </div>
      <div class="authSignUpStep2__wrapper__headers__form__submitWrapper">
        <button
          type='submit'
          class="authSignUpStep2__wrapper__headers__form__submitWrapper__submit"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
