@import '../../../../utils/styles/variables';

.authSignUp__footer {
  @media(max-width: $mobileBreakpoint) {
    padding: 1em 2em 1em 2em;
  }
  border-top: 1px solid $quaternaryFontColor;
  background: $quinaryFontColor;
  padding: 1em 6em 1em 6em;
}

.authSignUp__footer__wrapper__message {
  margin: 2em 0 2em 0;
  font-size: 1em;
  color: $tertiaryFontColor;
}

.authSignUp__footer__wrapper__nav {
  @media (max-width: $mobileBreakpoint) {
    gap: unset;
    flex-flow: wrap;
    width: 100%;
  }
  display: flex;
  gap: 2.5em;
  width: 50%;
}

.authSignUp__footer__wrapper__nav__ul {
  @media (max-width: $mobileBreakpoint) {
    width: 50%;
    display: flex;
    flex-flow: wrap;
  }
  width: 100%;
}

.authSignUp__footer__wrapper__nav__ul__li {
  @media(max-width: $mobileBreakpoint) {
  margin-bottom: 1em;
  }
  width: 100%;
  white-space: nowrap;
  list-style: none;
  font-size: 0.8em;
  color: $tertiaryFontColor;
  cursor: pointer;
}

.authSignUp__footer__wrapper__language {
  @media (max-width: $tabletBreakpoint) {
    align-self: flex-start;
    margin: 1em 0 1em 0;
  }
  margin: 2em 0 1em 0;
  width: fit-content;
  background: #ffffff;
  color: $tertiaryFontColor;
  border: 1px solid $tertiaryFontColor;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.7em;
  cursor: pointer;
}

.languageIconFooter {
  font-size: 1.5em;
  color: #000000;
}

.arrowDropDownIconFooter {
  font-size: 2.2em;
  color: #000000;
}
