<footer class="authFooter">
  <div class="authFooter__wrapper">
    <p class="authFooter__wrapper__phone">Questions? Call (+33) 0805-543-064</p>
    <nav class="authFooter__wrapper__nav">
      <ul class="authFooter__wrapper__nav__ul">
        <li class="authFooter__wrapper__nav__ul__li">FAQ</li>
        <li class="authFooter__wrapper__nav__ul__li">Investor Relations</li>
        <li class="authFooter__wrapper__nav__ul__li">Ways to Watch</li>
        <li class="authFooter__wrapper__nav__ul__li">Corporate Information</li>
        <li class="authFooter__wrapper__nav__ul__li">Legal Notices</li>
      </ul>
      <ul class="authFooter__wrapper__nav__ul">
        <li class="authFooter__wrapper__nav__ul__li">Help Center</li>
        <li class="authFooter__wrapper__nav__ul__li">Jobs</li>
        <li class="authFooter__wrapper__nav__ul__li">Therms of Use</li>
        <li class="authFooter__wrapper__nav__ul__li">Contact Us</li>
        <li class="authFooter__wrapper__nav__ul__li">Only on Netflix</li>
      </ul>
      <ul class="authFooter__wrapper__nav__ul">
        <li class="authFooter__wrapper__nav__ul__li">Account</li>
        <li class="authFooter__wrapper__nav__ul__li">Redeem Gift Cards</li>
        <li class="authFooter__wrapper__nav__ul__li">Privacy</li>
        <li class="authFooter__wrapper__nav__ul__li">Speed Test</li>
      </ul>
      <ul class="authFooter__wrapper__nav__ul">
        <li class="authFooter__wrapper__nav__ul__li">Media Center</li>
        <li class="authFooter__wrapper__nav__ul__li">Buy Gift Cards</li>
        <li class="authFooter__wrapper__nav__ul__li">Cookie Preferences</li>
        <li class="authFooter__wrapper__nav__ul__li">Legal Guarantee</li>
      </ul>
    </nav>
    <button
      class="authFooter__wrapper__language"
    >
      <span class="material-symbols-outlined languageIconFooter"> language </span>
      English
      <span class="material-symbols-outlined arrowDropDownIconFooter">arrow_drop_down</span>
    </button>
    <p class='authFooter__wrapper__company'>Netflix France</p>
  </div>
</footer>
