<footer class="homeFooter">
  <div class="homeFooter__wrapper">
    <div class="homeFooter__wrapper__socialNetworks">
      <figure class="homeFooter__wrapper__socialNetworks__fig">
        <img
          class="homeFooter__wrapper__socialNetworks__fig__logos"
          src="{{ facebookLogo }}"
        />
        <img
          class="homeFooter__wrapper__socialNetworks__fig__logos"
          src="{{ instagramLogo }}"
        />
        <img
          class="homeFooter__wrapper__socialNetworks__fig__logos"
          src="{{ twitterLogo }}"
        />
        <img
          class="homeFooter__wrapper__socialNetworks__fig__logos"
          src="{{ youtubeLogo }}"
        />
      </figure>
    </div>
    <div class="homeFooter__wrapper__listWrapper">
      <ul class="homeFooter__wrapper__listWrapper__ul">
        <li class="homeFooter__wrapper__listWrapper__ul__link">
          Audio Description
        </li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">
          Investor Relations
        </li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">
          Legal Notices
        </li>
      </ul>
      <ul class="homeFooter__wrapper__listWrapper__ul">
        <li class="homeFooter__wrapper__listWrapper__ul__link">Help Center</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">Jobs</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">
          Cookie Preferences
        </li>
      </ul>
      <ul class="homeFooter__wrapper__listWrapper__ul">
        <li class="homeFooter__wrapper__listWrapper__ul__link">Gift Cards</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">Terms of Use</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">
          Corporate Information
        </li>
      </ul>
      <ul class="homeFooter__wrapper__listWrapper__ul">
        <li class="homeFooter__wrapper__listWrapper__ul__link">Media Center</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">Privacy</li>
        <li class="homeFooter__wrapper__listWrapper__ul__link">Contact Us</li>
      </ul>
    </div>
    <div class="homeFooter__wrapper__buttonWrapper">
      <button class='homeFooter__wrapper__buttonWrapper__button'>Service Code</button>
    </div>
    <div class="homeFooter__wrapper__corpWrapper">
      ® 1997-2022 Netflix, inc.
    </div>
  </div>
</footer>
