<div class="sixthCardWrapper">
  <div class="sixthCardWrapper__card">
    <h2 class="sixthCardWrapper__card__title">Frequently Asked Questions</h2>
    <nav class="sixthCardWrapper__card__nav">
      <ul class="sixthCardWrapper__card__nav__ul">
        <li
          *ngFor="let question of Questions"
          class="sixthCardWrapper__card__nav__ul__li"
        >
          <p
            (click)="setDisplay(question.id)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              {{question.question}} </span
            ><span
            *ngIf="!isDisplay[question.id]"
            [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  !isDisplay[question.id]
              }"
          >
              add
            </span>
            <span
              *ngIf="isDisplay[question.id]"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isDisplay[question.id]
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isDisplay[question.id],
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                !isDisplay[question.id]
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >{{question.answer}}</p>
          </div>
        </li>
      </ul>
    </nav>
    <p class="sixthCardWrapper__card__message">
      Ready to watch? Enter your email to create or restart your membership.
    </p>
    <div class='sixthCardWrapper__card__inputWrapper'>
      <input
        [(ngModel)]="email"
        name="emailInput"
        id="emailInput"
        class="sixthCardWrapper__card__inputWrapper__input"
        type="email"
      />
      <label
        class='sixthCardWrapper__card__inputWrapper__label'
        [ngClass]="{
          'sixthCardWrapper__card__inputWrapper__label--active':
            email.length >= 1
        }"
        for="emailInput"
      >Email address</label
      >
      <button class="sixthCardWrapper__card__inputWrapper__submit">
        Get Started
      </button>
    </div>
  </div>
</div>
