@import '../../../../utils/styles/variables';

.sixthCardWrapper {
  background: #000000;
  margin-top: 0.5em;
}

.sixthCardWrapper__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0 3em 0;
  color: $primaryFontColor;
}

.sixthCardWrapper__card__title {
  font-size: 2.7em;
  margin-bottom: 2em;
}

.sixthCardWrapper__card__nav {
  width: 40%;
}

.sixthCardWrapper__card__nav__ul {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

.sixthCardWrapper__card__nav__ul__li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5em;
  overflow: hidden;
}

.sixthCardWrapper__card__nav__ul__li__subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1em;
  padding: 0.8em;
  background: #303030;
  cursor: pointer;
}

.sixthCardWrapper__card__nav__ul__li__subtitle__text {
}

.sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen {
  font-size: 1.5em;
}

.sixthCardWrapper__card__nav__ul__li__subtile__toggleClose {
  font-size: 1.5em;
}

.sixthCardWrapper__card__nav__ul__li__description--closed {
  max-height: 0;
  opacity: 0;
  background: $secondaryColor;
  overflow: hidden;
  transition: max-height 100ms ease-out, opacity 0ms, padding 10ms;
}

.sixthCardWrapper__card__nav__ul__li__description--open {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  background: $secondaryColor;
  overflow: hidden;
  transition: all 100ms ease-out, opacity 0ms, padding 10ms;
}

.sixthCardWrapper__card__nav__ul__li__description__message {
  width: 90%;
  margin: 1em 0 1em 0;
}
